.additional {
  position: relative;
}

.additional__title-wrapper {
  @include decoreation-line;
  display: flex;
  margin-top: 22px;
  margin-bottom: 35px;
}

.additional__title {
  @include caption;
  background-color: #ffffff;
  padding: 0 20px;
  margin: 0;
}

.additional__wrapper {
  padding: 0 20px;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #cdcdcd;
}

.additional__item {
  border-bottom: 1px solid #cdcdcd;
  // padding-top: 13px;
  // padding-bottom: 20px;
}

.additional__link {
  text-decoration: none;
}

.additional__sub-title {
  @include fonts(16px, 16px);
  color: #222222;
  margin: 13px 0 9px 0;
}

.additional__items {
  margin-bottom: 12px;
  border-collapse: collapse;
  width: 100%;
}

.additional__button {
  @include button;
  @include fonts(16px, 20px);
  width: 100%;
  margin-bottom: 17px;

  &:active .additional__button-text {
    opacity: 0.6;
  }
}

.additional__criterion {
  text-align: start;
}

.additional__meaning {
  text-align: end;
}

@media (min-width: $tablet-width) {
  .additional__title-wrapper {
    margin-top: 53px;
    margin-bottom: 80px;
    padding-left: 31px;

    &::before {
      top: 23px;
    }
  }

  .additional__title {
    background-color: #ffffff;
    padding: 0 37px;
  }

  .additional__sub-title {
    @include fonts(20px, 20px);
    margin: 0;
  }

  .additional__wrapper {
    padding: 0 30px;
  }

  .additional__list {
    border-top: none;
  }

  .additional__item {
    border: 1px solid #cdcdcd;
    padding: 27px 38px;
  }

  .additional__link {
    display: flex;
    justify-content: space-between;
  }

  .additional__items {
    margin-bottom: 17px;
    width: 50%;
  }

  .additional__button {
    @include button;
    margin: 0;
  }

  .additional__criterion {
    text-align: end;
  }

  .additional__meaning {
    width: 90px;
  }
}

@media (min-width: $desktop-width) {
  .additional__title-wrapper {
    padding-left: 80px;
  }

  .additional__title {
    padding: 0 30px;
  }

  .additional__wrapper {
    padding: 0 110px;
    margin-bottom: 86px;
    display: flex;
  }

  .additional__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    border-top: 1px solid #cdcdcd;
  }

  .additional__item {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    padding: 15px 0;
    display: flex;
  }

  .additional__link {
    width: 100%;
  }

  .additional__items {
    margin: 0;
    margin-right: 40px;
  }

  .additional__button {
    width: 244px;
  }
}
