.advantage {
  @include container();
}

.advantage__title {
  margin-top: 20px;
}

.advantage__list {
  margin: 0;
  margin-bottom: 29px;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.advantage__item {
  margin-bottom: 20px;
  padding-left: 80px;
}
