.advantage {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.advantage__title {
  margin-top: 24px;
}

.advantage__list {
  margin: 0;
  margin-bottom: 55px;
  margin-top: 44px;
  padding: 0;
  list-style: none;
}

.advantage__item {
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative;
}

.advantage__text br {
  display: none;
}

.advantage__text--leaf-icon::before {
  @include background(25px, 28px);
  background-image: url("/img/leaf.svg");
}

.advantage__text--boil-icon::before {
  @include background(29px, 31px);
  background-image: url("/img/boilin.svg");
}

.advantage__text--nutrition-icon::before {
  @include background(25px, 30px);
  background-image: url("/img/eat.svg");
}

.advantage__text--scales-icon::before {
  @include background(25px, 30px);
  background-image: url("/img/scales.svg");
}

@media (min-width: $tablet-width) {
  .advantage {
    padding: 0 30px;
  }

  .advantage__title {
    margin: 44px 0 35px 0;
  }

  .advantage__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px 57px;
    counter-reset: advantege;
    margin: 0;
    margin-bottom: 55px;
  }

  .advantage__item {
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 57px;
    padding-left: 0;
    counter-increment: advantege;

    &::after {
      @include fonts(280px, 280px);
      content: counter(advantege);
      position: absolute;
      top: 0;
      right: 50px;
      transform: translate(-50%);
      color: #f2f2f2;
      z-index: -1;
    }

    &:not(:first-child)::after {
      @include fonts(280px, 280px);
      content: counter(advantege);
      position: absolute;
      top: 0;
      right: 10px;
      transform: translate(-50%);
      color: #f2f2f2;
      z-index: -1;
    }
  }

  .advantage__text {
    text-align: start;
    margin: 0;
    min-width: 201px;
    max-width: 245px;

    & br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    padding: 0 110px;
    box-sizing: border-box;
  }

  .advantage__list {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: 10px 84px;
    margin-bottom: 70px;
  }

  .advantage__item {
    &::after {
      @include fonts(280px, 280px);
      content: counter(advantege);
      position: absolute;
      top: 0;
      right: -37px;
      color: #f2f2f2;
      z-index: -1;
    }

    &:not(:first-child)::after {
      @include fonts(280px, 280px);
      content: counter(advantege);
      position: absolute;
      top: 0;
      right: -74px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  .advantage__text {
    & br {
      display: none;
    }
  }
}
