.comments {
  @include container($mobile-container);
  padding: 0;
  box-sizing: border-box;
  margin: 22px auto;
  border: none;
}

.comments__title {
  margin-bottom: 35px;
}

.comments__input {
  @include fonts(16px, 18px);
  color: #444444;
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 150px;
  padding: 10px 12px;
  box-sizing: border-box;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .comments {
    @include container($tablet-form-container);
    margin: 65px auto;
  }

  .comments__title {
    margin-bottom: 76px;
  }

  .comments__input {
    @include fonts(20px, 30px);
    min-height: 174px;
  }
}
