.comments {
  position: relative;
  padding: 0;
  border: none;
}

.comments__title-wrapper {
  @include decoreation-line;
  display: flex;
}

.comments__title {
  @include caption;
  background: #ffffff;
  padding: 0 20px;
}

.comments__wrapper {
  box-sizing: border-box;
  margin: 22px 0;
  padding: 0 20px;
}

.comments__input {
  @include fonts(16px, 18px);
  color: #444444;
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 150px;
  padding: 10px 12px;
  box-sizing: border-box;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .comments {
    margin: 0 auto 65px auto;
  }

  .comments__wrapper {
    @include container($tablet-form-container);
    margin: 76px auto 65px auto;
  }

  .comments__title {
    @include margin;
    padding: 0 40px;
  }

  .comments__input {
    @include fonts(20px, 30px);
    min-height: 174px;
  }
}

@media (min-width: $desktop-width) {
  .comments__wrapper {
    @include container($detsktop-container);
    margin: 76px auto 30px auto;
  }

  .comments__title {
    margin-left: 53px;
  }
}
