.comments {
  position: relative;
  padding: 0;
  border: none;
}

.comments__title-wrapper {
  @include decoreation-line;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.comments__title {
  @include caption;
  margin: 0;
  background: #ffffff;
  padding: 0 20px;
}

.comments__wrapper {
  box-sizing: border-box;
  margin: 37px 0 24px 0;
  padding: 0 20px;
  max-width: 1440px;
}

.comments__input {
  @include fonts(16px, 18px);
  color: #444444;
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 150px;
  padding: 9px 12px;
  box-sizing: border-box;
  vertical-align: top;
  resize: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

@media (min-width: $tablet-width) {
  .comments {
    margin: 0 auto;
  }

  .comments__wrapper {
    padding: 0 71px;
    margin: 76px auto 65px auto;
  }

  .comments__title-wrapper {
    &::before {
      top: 22px;
    }
  }

  .comments__title {
    padding: 0 40px;
    margin-left: 30px;
  }

  .comments__input {
    @include fonts(20px, 30px);
    min-height: 174px;
    padding: 9px 17px;
  }
}

@media (min-width: $desktop-width) {
  .comments__wrapper {
    padding: 0 110px;
    margin: 76px auto 68px auto;
  }

  .comments__title {
    margin-left: 67px;
  }
}
