.contacts {
  border: none;
  padding: 0;
  position: relative;
}

.contacts__title-wrapper {
  @include decoreation-line;
  display: flex;
}

.contacts__title {
  @include caption;
  margin: 0;
  padding: 0 20px;
  background: #ffffff;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 34px auto 24px auto;
  padding: 0 20px;
}

.contacts__meaning {
  @include fonts(16px, 18px);
  color: #444444;
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.contacts__email {
  &::before {
    content: "";
    mask-image: url("/img/icon_email.svg");
    background-color: #444444;
    width: 20px;
    height: 15px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover::before {
    background-color: #68b738;
  }

  &:hover .contacts__input {
    border: 1px solid #cdcdcd;
  }
}

.contacts__phone {
  &::before {
    content: "";
    mask-image: url("/img/icon_phone.svg");
    background-color: #444444;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover::before {
    background-color: #68b738;
  }

  &:hover .contacts__input {
    border: 1px solid #cdcdcd;
  }
}

.contacts__input {
  @include fonts(16px, 18px);
  color: #444444;
  border: 1px solid #e7e7e7;
  margin-left: 8px;
  flex-grow: 1;
  padding: 13px 38px 13px 15px;

  &:focus {
    outline: 2px solid #444444;
  }
}

.contacts__meaning--error {
  & > .contacts__input {
    border: 2px solid #ff8282;
  }

  &.contacts__phone::before {
    background-color: #ff8282;
  }

  &.contacts__email::before {
    background-color: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 75px;
  }

  .contacts__wrapper {
    padding: 0 64px 0 68px;
    margin: 75px auto 66px auto;
  }

  .contacts__title-wrapper {
    &::before {
      top: 22px;
    }
  }

  .contacts__title {
    padding: 0 44px;
    margin-left: 28px;
  }

  .contacts__title-indent {
    display: none;
  }

  .contacts__meaning {
    @include fonts(20px, 30px);

    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  .contacts__input {
    @include fonts(20px, 30px);
    margin-left: 14px;
    padding: 11px 38px 11px 20px;
  }

  .contacts__email {
    & .contacts__input {
      padding-left: 21px;
      margin-left: 19px;
    }

    &::before {
      right: 16px;
    }
  }

  .contacts__phone {
    &::before {
      right: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-top: 65px;
  }

  .contacts__wrapper {
    padding: 0 110px;
    flex-direction: row;
    margin: 75px auto 65px;
  }

  .contacts__title {
    margin-left: 67px;
  }

  .contacts__meaning {
    width: 50%;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }
}
