.contacts {
  border: none;
  padding: 0;
  position: relative;
}

.contacts__title-wrapper {
  @include decoreation-line;
  display: flex;
}

.contacts__title {
  @include caption;
  margin: 0;
  padding: 0 20px;
  background: #ffffff;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 22px auto 22px auto;
  padding: 0 20px;
}

.contacts__meaning {
  @include fonts(16px, 18px);
  color: #444444;
  display: flex;
  align-items: center;
  position: relative;
}

.contacts__email {
  &::before {
    content: "";
    mask-image: url("/img/icon_email.svg");
    background-color: #444444;
    width: 20px;
    height: 15px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover::before {
    background-color: #68b738;
  }

  &:hover .contacts__input {
    border: 1px solid #cdcdcd;
  }
}

.contacts__phone {
  &::before {
    content: "";
    mask-image: url("/img/icon_phone.svg");
    background-color: #444444;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover::before {
    background-color: #68b738;
  }

  &:hover .contacts__input {
    border: 1px solid #cdcdcd;
  }
}

.contacts__input {
  @include fonts(16px, 18px);
  color: #444444;
  border: 1px solid #e7e7e7;
  margin-left: 8px;
  flex-grow: 1;
  padding: 13px 38px 13px 15px;

  &:focus {
    outline: 2px solid #444444;
  }
}

.contacts__meaning--error {
  & > .contacts__input {
    border: 2px solid #ff8282;
  }

  &.contacts__phone::before {
    background-color: #ff8282;
  }

  &.contacts__email::before {
    background-color: #ff8282;
  }
}

.contacts__meaning:not(:last-child) {
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 70px;
  }

  .contacts__wrapper {
    padding: 0 71px;
    margin: 70px auto;
  }

  .contacts__title {
    padding: 0 40px;
    margin-left: 30px;
    max-width: 100%;
  }

  .contacts__meaning {
    @include fonts(20px, 30px);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .contacts__input {
    @include fonts(20px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    padding: 0 110px;
    flex-direction: row;
    margin: 75px auto;
  }

  .contacts__title {
    margin-left: 67px;
  }

  .contacts__meaning {
    width: 50%;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }
}
