.contacts {
  border: none;
  padding: 0;
  border-top: 2px solid #68b738;
}

.contacts__title {
  margin: 0;
  max-width: 210px;
}

.contacts__wrapper {
  @include container($mobile-container);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 22px auto 22px auto;
}

.contacts__meaning {
  @include fonts(16px, 18px);
  color: #444444;
  display: flex;
  align-items: center;
}

.contacts__input {
  @include fonts(16px, 18px);
  color: #444444;
  border: 1px solid #cdcdcd;
  margin-left: 8px;
  flex-grow: 1;
  padding: 13px 15px;
}

.contacts__meaning:not(:last-child) {
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 70px;
  }

  .contacts__wrapper {
    @include container($tablet-form-container);
    margin: 70px auto;
  }

  .contacts__title {
    @include margin;
    padding: 0 40px;
    max-width: 100%;
  }

  .contacts__meaning {
    @include fonts(20px, 30px);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .contacts__input {
    @include fonts(20px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    @include container($detsktop-container);
    flex-direction: row;
    margin: 75px auto;
  }

  .contacts__title {
    margin-left: 53px;
  }

  .contacts__meaning {
    width: 50%;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }
}
