.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  margin: 24px 0;
  box-sizing: border-box;
  border: none;
}

.data__meaning {
  @include fonts(16px, 18px);
  color: #444444;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &:hover .data__input {
    border: 1px solid #cdcdcd;
  }
}

.data__input {
  @include fonts(16px, 18px);
  color: #444444;
  border: 1px solid #e7e7e7;
  margin-left: 13px;
  flex-grow: 1;
  padding: 13px 15px;
  box-sizing: border-box;

  &:focus {
    outline: 2px solid #444444;
  }
}

.data__input--error {
  border: 2px solid #ff8282;
}

.data__meaning:not(:last-child) {
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .data {
    padding: 0 71px;
    margin: 72px auto;
  }

  .data__meaning {
    @include fonts(20px, 30px);
    color: #444444;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .data__input {
    @include fonts(20px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .data {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
