.data {
  @include container();
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 24px;
  box-sizing: border-box;
  border: none;
}

.data__meaning {
  @include fonts();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;
}

.data__input {
  @include fonts();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  margin-left: 13px;
  flex-grow: 1;
  padding: 13px 15px;
}

.data__meaning:not(:last-child) {
  margin-bottom: 14px;
}
