.extra {
  @include container($mobile-container);
  padding: 0;
  margin: 22px auto;
  margin-bottom: 35px;
  box-sizing: border-box;
  border: none;
}

.extra__title {
  margin: 0;
  margin-bottom: 35px;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra__meaning {
  @include fonts(16px, 18px);
  color: #000000;
  padding-left: 60px;
}

.extra__item:not(:last-child) {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .extra {
    @include container($tablet-form-container);
    margin: 60px auto;
  }

  .extra__meaning {
    @include fonts(20px, 30px);
  }

  .extra__list {
    display: grid;
    grid-template-columns: repeat(2, 221px);
    gap: 32px 123px;
  }
}
