.extra {
  padding: 0;
  margin-bottom: 19px;
  border: none;
  position: relative;
}

.extra__title-wrapper {
  @include decoreation-line;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.extra__title {
  @include caption;
  padding: 0 20px;
  margin: 0;
  background: #ffffff;
}

.extra__wrapper {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}

.extra__meaning {
  @include fonts(16px, 18px);
  color: #000000;
  padding-left: 45px;
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:hover .extra__control-mark {
    border: 1px solid #bababa;
  }
}

.extra__control {
  &:focus + .extra__control-mark {
    outline: 2px solid #444444;
  }
}

.extra__meaning--disablet {
  opacity: 0.3;
}

.extra__control-mark {
  position: absolute;
  top: 59%;
  transform: translateY(-50%);
  left: 0;
  border: 1px solid #cdcdcd;
  width: 28px;
  height: 28px;
}

.extra__control:checked + .extra__control-mark::before {
  content: "";
  background-image: url("/img/checkbox.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .extra {
    margin: 0 auto;
  }

  .extra__title-wrapper {
    &::before {
      top: 21px;
    }
  }

  .extra__title {
    padding: 0 40px;
    margin-left: 30px;
  }

  .extra__wrapper {
    padding: 0 71px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 43px 123px;
    margin: 60px auto;
  }

  .extra__meaning {
    @include fonts(20px, 30px);
    padding-left: 58px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .extra__control-mark {
    width: 38px;
    height: 38px;
  }

  .extra__control:checked + .extra__control-mark::before {
    background-size: 23px 20px;
    width: 24px;
    height: 21px;
  }
}

@media (min-width: $desktop-width) {
  .extra__wrapper {
    grid-template-columns: repeat(4, 1fr);
    margin: 58px auto 70px;
    padding: 0 110px;
    gap: 43px 85px;
  }

  .extra__title {
    margin-left: 67px;
  }
}
