.main-header__wrapper-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.main-header--line {
  border-bottom: 1px solid #d9d9d9;
}

.main-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo--center {
  padding-left: 12px;
  padding-top: 7px;
}

.main-header__toggle {
  position: relative;
  width: 66px;
  height: 66px;
  border: none;
  background: #ffffff;
  cursor: pointer;
}

.main-header--closed::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 21px;
  width: 24px;
  height: 2px;
  background: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-header--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 21px;
    width: 24px;
    height: 2px;
    background: #000000;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-top: 23px;
  }

  .main-header__img {
    width: 174px;
    height: 52px;
  }

  .main-header__img--hidden {
    display: none;
  }

  .main-header__wrapper {
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  .main-header__wrapper-inner {
    padding: 0;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo:not(:last-child) {
    margin-right: 12px;
  }
}

@media (min-width: $desktop-width) {
  .main-header--img {
    background: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("/img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: right top -23px;
    background-size: 720px 683px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("/img/index-background-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-position: right top -23px;
      background-size: 720px 683px;
    }
  }

  .main-header__wrapper {
    @include container($detsktop-container);
    padding: 0 110px;
  }

  .main-header__img {
    width: 200px;
    height: 59px;
  }
}
