.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  background: #ffffff;
}

.main-nav--nojs {
  width: 100%;
  display: block;

  & .main-nav__list {
    position: static;
  }
}

.main-nav--hidden {
  display: none;
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;
  padding: 22px 0;
  text-align: center;
}

.main-nav__link {
  @include fonts(20px, 20px);
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: static;
    display: flex;
    border: none;
    background: none;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 30px;
  }

  .main-nav__link {
    @include fonts(18px, 24px);
  }

  .main-nav--current {
    border-bottom: 2px solid #68b738;
  }

  .main-nav--current-index {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link--color {
    color: #ffffff;
  }

  .main-nav--current-index {
    border-bottom: 2px solid #ffffff;
  }
}
