.main-footer {
  @include back-color;
}

.main-footer__cotainer {
  padding: 39px 20px 20px 20px;
}

.main-footer__link-logo {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}

.main-footer__list {
  margin: 22px 0;
  padding: 22px 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 25px);
  justify-items: center;
  justify-content: center;
  gap: 10px 27px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__link--position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__icon {
  fill: #666666;
}

.main-footer__link {
  text-decoration: none;
  display: flex;
  color: #444444;

  &:hover .main-footer__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__link-text {
  align-self: center;
  max-width: 140px;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .main-footer__cotainer {
    display: flex;
    align-items: center;
    padding: 58px 30px 58px 30px;
  }

  .main-footer__list {
    border-top: none;
    border-bottom: none;
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
  }

  .main-footer__image {
    margin: 0;
    align-self: center;
  }

  .main-footer__icon {
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__cotainer {
    padding: 61px 110px 58px 110px;
  }
}
