.our-contact__wrapper {
  @include container();
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.our-contact__text {
  @include fonts();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.our-contact__adress {
  line-height: 20px;
}
