.page-title {
  @include fonts();
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.page-title--color {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-title {
    @include fonts();
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
  
  .page-title--color {
    color: #000000;
  }
}
