.page-title {
  @include fonts(36px, 36px);
  color: #000000;
  text-transform: none;
}

.page-title--color {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-title {
    @include fonts(60px, 60px);
    color: #000000;
    text-transform: none;
  }

  .page-title--color {
    color: #000000;
  }
}
