.product__title {
  margin: 0;
  min-width: 260px;
  padding: 20px 20px 40px 20px;
}

.product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #ebebeb;
}

.product__item {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .product {
    padding: 0 30px;
  }

  .product__title {
    margin: 0;
  }

  .product__list {
    border-top: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    padding-bottom: 10px;
  }

  .product__item {
    padding: 0 36px 40px 36px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .product {
    @include container($detsktop-container);
  }

  .product__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 63px 80px;
  }
}
