.product-card {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #ebebeb;
}

.product-card__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.product-card__img-wrapper {
  margin: 0 auto;
}

.product-card__img {
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.product-card__title {
  @include fonts(16px, 20px);
  color: #222222;
  width: 76px;
  margin: 0 0 13px 2px;
}

.product-card__items {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #444444;
  width: 142px;
  margin-bottom: 22px;
  border-collapse: collapse;
}

.product-card__criterion {
  text-align: start;
}

.product-card__button {
  @include button;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0 auto 23px auto;

  &:active .product-card__button-text {
    opacity: 0.6;
  }
}

.product-card--color {
  background: #f2f2f2;
  color: #444444;

  &:hover {
    background: #ebebeb;
  }

  &:active {
    background: #ebebeb;
  }

  &:active .product-card__button-text {
    opacity: 0.6;
  }
}

.product-card__meaning {
  text-align: end;
}

.product-card--extra-link {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    width: 30px;
    height: 2px;
    background: #d3d3d3;
    position: absolute;
    top: 18px;
    transform: rotate(90deg);
  }

  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #d3d3d3;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product-card--title {
  min-width: 204px;
  margin-top: 57px;
  margin-bottom: 7px;
}

.product-card__text {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 22px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding: 133px 36px 40px 36px;
    border-bottom: none;
    box-sizing: border-box;
    min-height: 430px;
    background: #f2f2f2;
  }

  .product-card__link {
    position: relative;
    flex-direction: column;
    justify-content: end;
  }

  .product-card__img {
    margin: 0;
    position: absolute;
    bottom: 221px;
    left: 50%;
    transform: translate(-50%);
  }

  .product-card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
    width: 100%;
  }

  .product-card__title {
    @include fonts(20px, 24px);
    min-width: 150px;
    text-align: center;
  }

  .product-card__items {
    font-size: 16px;
    line-height: 29px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 31px;
  }

  .product-card__meaning {
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__criterion {
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__button {
    @include button;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .product-card--color {
    margin-top: 63px;
    background: #f2f2f2;
    color: #444444;
  }

  .product-card--extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: 2px solid #f2f2f2;
  }

  .product-card--extra-link {
    &::before {
      content: "";
      width: 60px;
      height: 2px;
      top: -48px;
    }

    &::after {
      content: "";
      width: 60px;
      height: 2px;
      top: -47px;
    }
  }

  .product-card--title {
    min-width: 170px;
    margin-top: 31px;
    margin-bottom: 22px;
  }

  .product-card__text {
    font-size: 16px;
    line-height: 18px;
    max-width: 220px;
  }
}
