.product-card__link {
  @include container($mobile-container);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.product-card__img-wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__img {
  display: block;
}

.product-card__title {
  @include fonts();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: 76px;
  margin: 0;
  margin-bottom: 15px;
}

.product-card__items {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  width: 142px;
  margin-bottom: 20px;
}

.product-card__criterion {
  text-align: start;
}

.product-card__meaning {
  text-align: end;
}
