.product {
  border-top: 1px solid #d9d9d9;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.product__title {
  margin: 0;
  min-width: 260px;
  padding: 27px 20px 40px 20px;
}

.product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .product {
    padding: 0 30px;
    border-top: none;
  }

  .product__title {
    margin: 0;
    padding: 59px 0 17px 0;
  }

  .product__list {
    padding-top: 140px;
    border-top: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 136px 60px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding: 0 110px;
  }

  .product__title {
    padding-top: 64px;
  }

  .product__list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 132px 80px;
  }
}
