.product-card__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.product-card__img-wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__img {
  display: block;
}

.product-card__title {
  @include fonts(16px, 20px);
  color: #222222;
  width: 76px;
  margin: 0;
  margin-bottom: 15px;
}

.product-card__items {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  width: 142px;
  margin-bottom: 20px;
}

.product-card__criterion {
  text-align: start;
}

.product-card__button {
  @include button;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0 auto 25px auto;
}

.product-card--color {
  background: #f2f2f2;
  color: #444444;
}

.product-card__meaning {
  text-align: end;
}

.product-card--extra-link {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 30px;
    background: #d3d3d3;
    // transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #d3d3d3;
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product-card--title {
  min-width: 204px;
  margin-top: 78px;
}

.product-card__text {
  margin-bottom: 21px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-card {
    background: linear-gradient(to bottom, #ffffff 13%, #eaeaea 10%);
  }

  .product-card__link {
    flex-direction: column;
    min-height: 391px;
  }

  .product-card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .product-card__title {
    @include fonts(20px, 24px);
    min-width: 150px;
    text-align: center;
  }

  .product-card__items {
    width: 100%;
    border-collapse: collapse;
  }

  .product-card__meaning {
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__criterion {
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__button {
    @include button;
  }

  .product-card--color {
    background: #f2f2f2;
    color: #444444;
  }

  .product-card--extra {
    background: none;
  }

  .product-card__extra-wrapper {
    border: 2px solid #f2f2f2;
    box-sizing: border-box;
    padding-top: 52px;
  }

  .product-card--extra-link {
    &::before {
      content: "";
      width: 2px;
      height: 60px;
    }

    &::after {
      content: "";
      width: 60px;
      height: 2px;
      top: 29px;
    }
  }

  .product-card--title {
    min-width: 134px;
    margin-top: 161px;
  }

  .product-card__text {
    max-width: 220px;
  }
}
