.program-selection {
  background: linear-gradient(
      rgba(104, 183, 56, 0.85) 61%,
      rgba(253, 253, 253, 1) 40%
    ),
    url("/img/index-background@2x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto, contain;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(
        rgba(104, 183, 56, 0.85) 61%,
        rgba(253, 253, 253, 1) 40%
      ),
      url("/img/index-background@2x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto, contain;
    padding-top: 27px;
  }
}

.program-selection__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.program-selection__title {
  text-align: center;
  margin: 0;
  width: 250px;
}

.program-selection__image {
  display: block;
  margin: 0 auto;
}

.program-selection__link {
  @include button;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 2px;
  order: 1;

  &:active .program-selection__link-text {
    opacity: 0.6;
  }
}

.program-selection__text {
  @include fonts(14px, 14px);
  text-align: center;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 30px;
  max-width: 200px;
}

@media (min-width: $tablet-width) {
  .program-selection {
    background: none;
    padding-top: 56px;
  }

  .program-selection__wrapper {
    background: none;
    padding-left: 118px;
    align-items: flex-start;
  }

  .program-selection__title {
    text-align: start;
    width: 420px;
  }

  .program-selection__link {
    @include button;
    width: 244px;
    margin: 0;
    order: 0;
  }

  .program-selection__text {
    @include fonts(20px, 20px);
    color: #000000;
    text-align: start;
    margin-top: 41px;
    margin-bottom: 50px;
    max-width: 300px;
  }

  .program-selection__image {
    position: relative;
    top: -78px;
    left: -90px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    padding: 110px;
    padding-top: 27px;
  }

  .program-selection__title {
    margin-top: 77px;
  }

  .program-selection__image {
    position: relative;
    top: -359px;
    left: 368px;
    z-index: 2;
  }

  .program-selection__wrapper {
    padding-left: 77px;
  }
}
