.program-selection {
  background: linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/index/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px 302px;
  padding-top: 27px;
}

.program-selection__title {
  text-align: center;
  margin: 0;
}

.program-selection__link {
  @include container();
  padding: 10px 0;
  margin-bottom: 20px;
}

.program-selection__text {
  text-align: center;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 30px;
}
