.program {
  @include container($mobile-container);
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 25px;
  padding-left: 65px;
  box-sizing: border-box;
  border: none;
}

.program__meaning {
  @include fonts(16px, 18px);
  color: #222222;
}

.program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.program__item {
  margin-top: 25px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .program {
    @include container($tablet-form-container);
    border: 1px solid #e7e7e7;
    margin: 25px auto;
  }

  .program__meaning {
    @include fonts(20px, 30px);
  }
}
