.program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 20px 25px 20px;
  box-sizing: border-box;
  border: none;
}

.program__meaning {
  @include fonts(16px, 18px);
  color: #222222;
  padding-left: 45px;
  position: relative;

  &:not(:first-child) {
    margin-top: 25px;
  }

  &:hover .program__control-mark {
    border: 1px solid #bababa;
  }
}

.program__meaning--disabled {
  opacity: 0.3;
}

.program__control-mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

.program__control:checked + .program__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: #68b738;
  border-radius: 50%;
}

.program__control {
  &:focus + .program__control-mark {
    outline: 2px solid #444444;
  }
}

@media (min-width: $tablet-width) {
  .program {
    border: 1px solid #e7e7e7;
    margin: 68px 71px;
    padding: 28px 27px;
  }

  .program__meaning {
    @include fonts(20px, 30px);
    padding-left: 59px;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }

  .program__control-mark {
    width: 39px;
    height: 39px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
