.selection {
  border-top: 1px solid #d9d9d9;
}

.selection__title-wrapper {
  padding: 26px 20px 14px 20px;
}

.selection__title {
  margin: 0;
}

.selection__text {
  @include fonts(14px, 18px);
  color: #000000;
  margin: 0;
  margin-top: 38px;
  width: 226px;
}

.selection__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;
}

.selection__item {
  border-bottom: 1px solid #d9d9d9;
}

.selection__button {
  @include button;
  border: none;
}

.selection__button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 21px 20px 32px 20px;
}

.selection__necessarily {
  color: #000000;
  text-align: center;
  display: block;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .selection {
    border-top: none;
  }

  .selection__title-wrapper {
    padding: 58px 71px 60px 71px;
  }

  .selection__text {
    @include fonts(20px, 30px);
    width: 323px;
    margin-top: 54px;
  }

  .selection__item {
    border-bottom: none;
  }

  .selection__button-wrapper {
    padding: 0 71px 75px 71px;
    flex-direction: row;
    align-items: center;
  }

  .selection__button {
    font-size: 20px;
    width: 282px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .selection__necessarily {
    margin-top: 0;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .selection__title-wrapper {
    padding: 73px 110px 63px 110px;
  }

  .selection__list {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }

  .selection__item {
    width: 46%;
  }

  .selection__button-wrapper {
    @include container($detsktop-container);
  }

  .selection__button {
    width: 568px;
  }
}
