@mixin fonts {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.selection__text {
  margin: 38px 0;
}
.data {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: none;
}
.input {
  padding: 13px 15px;
}
.selection__meaning {
  @include fonts();
  margin-bottom: 14px;
}
.selection__input {
  border: 1px solid #e7e7e7;
  margin-left: 13px;
  @include fonts();
}
.selection__input--name {
  width: 68%;
}
.selection__input--weight {
  width: 60%;
}
.selection__input--age {
  width: 48.2%;
}
.selection__button {
  width: 100%;
  border: none;
}
.selection__necessarily-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 35px;
}
.selection__necessarily {
  color: #000000;
  text-align: center;
}
