.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.back-color {
  background: #f2f2f2;
}

.program-selection {
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px 302px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-selection__title {
  text-align: center;
  margin: 0;
}

.program-selection__image {
  display: block;
  margin: 0 auto;
}

.program-selection__link {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 20px;
  order: 1;
}

.program-selection__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 30px;
}

@media (min-width: 709px) {
  .program-selection {
    width: 85%;
    margin: 0 auto;
    background: none;
    padding-left: 90px;
    align-items: flex-start;
  }

  .program-selection__title {
    text-align: start;
    width: 420px;
  }

  .program-selection__link {
    width: 244px;
    margin: 0;
    padding: 10px 0;
    order: 0;
  }

  .program-selection__text {
    color: #000000;
    text-align: start;
    margin-top: 41px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .program-selection {
    width: 1220px;
    margin: 0 auto;
    padding-top: 27px;
  }
}
.map__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .map {
    position: relative;
  }
}
.our-contact__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.our-contact__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  width: 140px;
  margin-right: 10px;
}

.our-contact__adress {
  width: 140px;
  line-height: 20px;
}

@media (min-width: 709px) {
  .our-contact__wrapper {
    padding: 56px 40px;
  }

  .our-contact__text {
    width: 170px;
  }

  .our-contact__adress {
    text-align: end;
    width: 160px;
  }
}
@media (min-width: 1440px) {
  .our-contact {
    position: absolute;
    width: 565px;
  }

  .our-contact__wrapper {
    padding: 60px 80px 56px 80px;
  }

  .our-contact__text {
    width: 163px;
  }

  .our-contact__adress {
    text-align: start;
    width: 155px;
  }
}
.programs {
  width: 80%;
  margin: 0 auto;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  padding: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.programs__text {
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  align-self: start;
}

@media (min-width: 709px) {
  .programs {
    width: 85%;
    margin: 0 auto;
  }

  .programs__item {
    padding: 77px 316px 57px 52px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
  }

  .programs__text {
    border-bottom: none;
    color: #000000;
  }

  .programs__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .programs {
    width: 1220px;
    margin: 0 auto;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    padding: 50px;
    width: 570px;
    box-sizing: border-box;
  }

  .programs__title {
    padding-left: 165px;
  }

  .programs__text {
    padding-top: 73px;
    color: #000000;
  }

  .programs__link {
    margin: 0;
  }
}
.advantage {
  width: 80%;
  margin: 0 auto;
}

.advantage__title {
  margin-top: 20px;
}

.advantage__list {
  margin: 0;
  margin-bottom: 29px;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.advantage__item {
  margin-bottom: 20px;
  padding-left: 80px;
}

@media (min-width: 709px) {
  .advantage {
    width: 85%;
    margin: 0 auto;
    padding-right: 90px;
    box-sizing: border-box;
  }

  .advantage__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 37px 140px;
  }

  .advantage__item {
    margin-bottom: 0;
    padding-top: 151px;
    padding-bottom: 57px;
    padding-left: 0;
  }

  .advantage__text {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .advantage {
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .advantage__list {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: 80px;
  }
}
.example {
  background: #eaeaea;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__container {
  width: 80%;
  margin: 0 auto;
}

.example__title {
  margin: 0;
}

.example__text {
  margin-top: 40px;
  margin-bottom: 20px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
}

.example__items {
  text-align: center;
  padding: 15px 24px 0 24px;
}

.example__outlay {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 20px;
}

.example__image {
  display: block;
  margin: 0 auto;
}

.example__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

@media (min-width: 709px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 50%, #eaeaea 50%);
    padding-top: 25px;
    padding-bottom: 40px;
    border-top: 1px solid #e6e6e6;
  }

  .example__container {
    width: 85%;
    margin: 0 auto;
  }

  .example__text {
    margin-top: 63px;
    margin-bottom: 54px;
  }

  .example__outer-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  .example__outlay {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
  }

  .example__items {
    margin-right: 40px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    font-size: 14px;
    line-height: 14px;
  }

  .example__text-separator {
    display: block;
    text-align: end;
  }
}
@media (min-width: 1440px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 26%, 20%, #eaeaea 50%);
    border-top: none;
    padding-bottom: 0;
  }

  .example__container {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .example__container-inner {
    width: 436px;
  }

  .example__text {
    margin-top: 146px;
    margin-bottom: 64px;
  }

  .example__outer-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__outlay {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
  }

  .example__text-separator {
    margin-right: 47px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    font-size: 14px;
    line-height: 14px;
  }
}
.main-header--line {
  border-bottom: 1px solid #d9d9d9;
}

.main-header__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

@media (min-width: 709px) {
  .main-header__wrapper {
    width: 85%;
    margin: 0 auto;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo:not(:last-child) {
    margin-right: 12px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/index/index-background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 720px 694px;
    margin-bottom: 82px;
  }

  .main-header__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
.caption {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.comments {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 22px;
  border: none;
}

.comments__title {
  margin-bottom: 35px;
}

.comments__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 150px;
  padding: 10px 12px;
  box-sizing: border-box;
  vertical-align: top;
}

.contacts {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
  box-sizing: border-box;
  border: none;
}

.contacts__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 26px;
}

.contacts__meaning {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;
}

.contacts__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
  margin-left: 8px;
  flex-grow: 1;
  padding: 13px 15px;
}

.contacts__meaning:not(:last-child) {
  margin-bottom: 14px;
}

.extra {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.extra__title {
  margin: 0;
  margin-bottom: 35px;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra__meaning {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 60px;
}

.extra__item {
  margin-bottom: 25px;
}

.program {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 25px;
  padding-left: 65px;
  box-sizing: border-box;
  border: none;
}

.program__meaning {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.program__item {
  margin-top: 25px;
  padding: 0;
}

.selection__title-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 40px;
}

.selection__title {
  margin: 0;
}

.selection__text {
  margin: 0;
  margin-top: 35px;
}

.selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.selection__item {
  border-bottom: 1px solid #d9d9d9;
}

.selection__button {
  width: 80%;
  margin: 0 auto;
  border: none;
}

.selection__necessarily-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 35px;
}

.selection__necessarily {
  color: #000000;
  text-align: center;
}

.main-footer__cotainer {
  width: 80%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 20px;
}

.main-footer__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-footer__list {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 22px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__item:not(:last-child) {
  margin-right: 25px;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__link {
  text-decoration: none;
  display: flex;
  color: #444444;
}

.main-footer__icon {
  align-self: center;
}

@media (min-width: 709px) {
  .main-footer__cotainer {
    width: 85%;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 55px;
    display: flex;
  }

  .main-footer__list {
    border-top: none;
    border-bottom: none;
    width: 132px;
    margin: 0 auto;
    padding: 0;
  }

  .main-footer__item:not(:last-child) {
    margin-right: auto;
  }

  .main-footer__image {
    margin: 0;
    align-self: center;
  }

  .main-footer__icon {
    margin-left: 25px;
  }
}
.additional {
  width: 80%;
  margin: 0 auto;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #cdcdcd;
}

.additional__item {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 20px;
}

.additional__title {
  margin-top: 25px;
  margin-bottom: 36px;
}

.additional__link {
  text-decoration: none;
}

.additional__sub-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 13px 0;
}

.additional__items {
  margin-bottom: 15px;
  width: 100%;
}

.additional__button {
  width: 100%;
}

.additional__criterion {
  text-align: start;
}

.additional__meaning {
  text-align: end;
}

.gift {
  padding: 35px 0;
}

.gift__wrapper {
  background-image: url("/img/catalog/cat-bag.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 290px;
}

.gift__text {
  width: 60%;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.gift__inner-wrapper {
  background-color: #68b738d9;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.product-card__link {
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.product-card__img-wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__img {
  display: block;
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: 76px;
  margin: 0;
  margin-bottom: 15px;
}

.product-card__items {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  width: 142px;
  margin-bottom: 20px;
}

.product-card__criterion {
  text-align: start;
}

.product-card__meaning {
  text-align: end;
}

.product__title {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #ebebeb;
}

.product__item {
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

.product-card__link {
  width: 80%;
  margin: 0 auto;
}

.product__button {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-decoration: none;
}

.site-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: #68b738;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  display: block;
  text-decoration: none;
}

.site-button--color {
  background: #f2f2f2;
  color: #444444;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswaldregular.woff2"), url("/fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswaldmedium.woff2"), url("/fonts/oswaldregular.woff") format("woff2");
  font-display: swap;
}
.page-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.page-title--color {
  color: #ffffff;
}

@media (min-width: 709px) {
  .page-title {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  .page-title--color {
    color: #000000;
  }
}
.page__body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  min-width: 320px;
  margin: 0 auto;
}

@media (min-width: 709px) {
  .page__body {
    min-width: 709px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    width: 1440px;
  }
}
.data {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 24px;
  box-sizing: border-box;
  border: none;
}

.data__meaning {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
  align-items: center;
}

.data__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  margin-left: 13px;
  flex-grow: 1;
  padding: 13px 15px;
}

.data__meaning:not(:last-child) {
  margin-bottom: 14px;
}

.main-nav {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;
  padding: 22px 0;
  text-align: center;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
}

@media (min-width: 709px) {
  .main-nav {
    display: block;
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
    border: none;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 30px;
  }

  .main-nav__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .main-nav__link {
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */